body{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}
.modal-dialog{
	z-index: 1050;
}
.modal-header{
	display:block;
}
label{
	font-weight:700;
}

.form-group > .form-control{
	margin-bottom:10px;
}

.form-group > label{
	margin:0;
}

.rounded{
	border-radius:1rem!important;
}

.nav > li:hover{
	color: red;
	cursor: pointer;
}
